<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">
      <a [routerLink]="[page.route]">{{ page.title }}</a>
    </div>
    <p class="text-gray-700 text-base">
      {{ page.description }}
    </p>
  </div>
  <div class="px-6 py-4">
    <span
      *ngFor="let tag of page.tags"
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
      >{{ tag }}
    </span>
  </div>
</div>
